{% extends 'base.html' %}

{% block title %}{{ article.title|striptags }} - {{ super() }}{% endblock title %}

{% block meta_description %}{{ article.summary|striptags|trim() }}{% endblock %}

{% block seo %}
  <meta property="og:title" content="{{ article.title|striptags }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:description" content="{{ article.summary|striptags }}" />
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ article.title }}">
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
  {{ super() }}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb is-right">
      <ul>
        <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
        <li class="is-active"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      </ul>
    </nav>
  </div>
  <div class="container content is-medium">
    <div class="column is-8 is-offset-2">
      <h1 class="title is-2">{{ article.title }}</h1>
      <p class="subtitle is-6">{{ article.locale_date }}</p>

      {{ article.content }}

      {% include 'includes/contact_excerpt.html' %}
    </div>
  </div>
</section>
{% endblock %}
