{% extends 'base.html' %}

{% block content %}
<div>
  <section class="navigation">
    <nav class="navbar">
    {% for page in pages %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </nav>
  </section>
  <section class="content">
  {% for article in articles_page.object_list %}
    <section class="post">
      <header class="post-header">
        <h3><a class="post-title" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
        <p class="post-meta">{{ article.summary|striptags|trim }}</p>
      </header>
    </section>
  {% endfor %}
  </section>
  {% include 'pagination.html' %}
</div>
{% endblock %}
