{% extends 'base.html' %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Caio Carrara</h1>
      <h2 class="subtitle is-2">Desenvolvedor de Software</h2>
      <div class="columns content is-medium">
        <div class="column">
          <p>Já tive a oportunidade de trabalhar em startups, na minha própria
          empresa e em consultoria multinacional com milhares de pessoas. Criei
          software utilizando diversas tecnologias sempre focando em soluções e
          ferramentas de código aberto e software livre.</p>
          <p>Atualmente eu trabalho criando e mantendo software, principalmente em
          <a href="https://python.org">Python</a>, na <a
          href="https://loadsmart.com">Loadsmart</a>.</p>
        </div>
        <div class="column">
          <p>Costumo escrever sobre programação, carreira, Internet Livre,
          Software Livre, Python e algumas outras coisas que você pode conferir
          no <a href="{{ SITEURL }}/blog.html">Blog - Logging</a></p> <p>Você
          também pode encontrar os slides de apresentações que já fiz em público
          na minha página de <a href="{{ SITEURL
          }}/apresentacoes.html">Apresentações</a>. Os assuntos variam de
          Python, Agile, trabalho remoto até finanças pessoais.</p>
        </div>
        <div class="column">
          <p>Mais detalhes, histórico profissional ou meus projetos Open Source
          estão disponíveis na página <a href="{{ SITEURL }}/sobre.html">sobre
          mim.</a></p>
          <p>Você também pode escolher a sua forma preferida para entrar em
          contato comigo através das alternativas da página de <a href="{{
          SITEURL }}/contato.html">contato</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
