<footer class="footer">
  <div class="container">
    <div class="bd-footer-links" style="margin-top: 0">
      <div class="columns">
        <div class="column">
          <p class="bd-footer-link-title">
            <a href="{{ SITEURL }}">Início</a>
          </p>

          <p class="bd-footer-link-title">Caio Carrara</p>
          <p class="bd-footer-link">
            <a href="{{ SITEURL }}/blog.html">Blog</a>
          </p>
          {% for page in pages %}
          <p class="bd-footer-link">
            <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
          </p>
          {% endfor %}
        </div>
        <div class="column">
          <p class="bd-footer-link-title">Últimos posts</p>
          {% for article in articles[:4] %}
          <p class="bd-footer-link">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
          </p>
          {% endfor %}
          <p class="bd-footer-link-title">Assuntos</p>
          {% for category in categories %}
          <p class="bd-footer-link">
            <a href="{{ SITEURL }}/{{ category.0.url }}">{{ category.0.name|capitalize }}</a></li>
          </p>
          {% endfor %}
        </div>
        <div class="column">
          <p class="bd-footer-link-title">Mais</p>
          {% if FEED_ALL_ATOM %}
          <p class="bd-footer-link">
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS</a>
          </p>
          {% endif %}
          <p class="bd-footer-link">
            <a href="https://github.com/cacarrara">Github</a>
          </p>
          <p class="bd-footer-link">
            <a href="https://twitter.com/CaioWCC">Twitter</a>
          </p>
        </div>
      </div>
    </div>
    <div class="tags">
      <span class="tag is-success">JavaScript Free</span>
      <span class="tag is-light">
        <a class="has-text-dark" href="https://blog.getpelican.com/">Pelican Powered</a>
      </span>
      <span class="tag is-light">
        <a class="has-text-dark" href="https://python.org">Python Powered</a>
      </span>
      <span class="tag is-light">
        <a class="has-text-dark" href="https://bulma.io">Bulma.io Powered</a>
      </span>
    </div>
  </div>
</footer>
